
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel = 'stylesheet' href = "{% static 'style.css' %}">
</head>
<body>
    <div id = 'container'>
        <div id = 'formContainer'>
            <form method="POST">
                {% csrf_token %}
                {{form.task}}
                <button id = 'add' type = 'submit'>Add your tasks</button>
            </form>
        </div>
        <div id = 'todoItems'>
            {% for todo in tasks %}
                <div class = 'item'>
                    <p>{{todo.task}}</p>
                    <div class = 'controls'>
                        <a href = "{% url 'updateitem' todo.id %}"><button class = 'edit'>Update</button></a>
                        <a href = "{% url 'deleteitem' todo.id %}"><button class = 'delete'>Delete</button></a>
                    </div>
                </div>
                {% endfor %}

              
                
                
            
        </div>
    </div>
</body>
</html>