@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

header{
    background: linear-gradient(90deg, rgb(212, 51, 186),
    rgb(243, 179, 227),rgb(211, 179, 241),rgb(184, 119, 245));
    padding:40px 50px;
    color: rgb(134, 37, 130);
    text-align: center;
}

h1 {
    font-family: 'Fjalla One',Arial, Helvetica, sans-serif ;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

input{
    width: 75%;
    margin-right: 0;
    padding: 10px;
    border: none;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.addBtn {
    width: 25%;
    padding: 10px;
    margin-left: 0;
    background: rgb(184, 29, 163);
    color: rgb(234, 223, 248);
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.addBtn:hover{
    background-color: rgb(150, 52, 241);
    color: rgb(53, 22, 53);
}

ul li {
      cursor: pointer;
      position: relative;
      padding: 12px 8px 12px 40px;
      list-style-type: none;
      background: rgb(240, 156, 222);
      font-size: 14px;
      transition: 0.2s;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

/* to unselect items*/
-webkit-user-select: none;
-moz-user-select:none;
-ms-user-select: none;
user-select: none;
}

ul li:nth-child(odd){
    background: rgb(247, 214, 248);
}

ul li:hover{
    background: rgb(182, 52, 182);
    color: white;
}

ul li.checked{
    background: rgb(126, 73, 179);
    color: rgb(255, 230, 255);
    text-decoration:solid;
}

ul li.checked::before{
    content:"";
    position: absolute;
    border-color: rgb(241, 203, 241);
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left:16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.far{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.far:hover{
    background-color: rgb(233, 204, 233);
    color: rgb(92, 12, 74);
}