@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap");
:root {
  --bg: #576c80;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto Mono";
}
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg);
}
.container {
  width: 100vw;
  height: 400px;
  max-width: 600px;
  background-color: rgb(248, 204, 204);
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 5px;
}
body.over .container {
  cursor: no-drop;
}
body.over .container .item {
  pointer-events: none;
}
.item {
  width: 100%;
  /* height: calc(100vw/100*30); */
  height: 100%;
  background-color: var(--bg);
}
.playerTitle {
  font-size: 50px;
  margin-bottom: 20px;
  color: white;
}
.player1 {
  background-image: url(https://i.ibb.co/d6LQqt1/Frame.png);
  
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.computer {
   background-image:url("https://img.icons8.com/plasticine/100/000000/filled-circle.png") ; 
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.rematch {
  cursor: pointer;
  padding: 20px 50px;
  display: inline-block;
  background-color: rgb(58, 96, 133);
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
body.over .rematch {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
