
h1{
    background-color: black;
    color: white;
    text-align: center;
    margin:  0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;


}
body{

}
.form{
    background-color: #00ffff9c;
    background-size:cover;
    margin: auto;
    width: 600px;
    border: solid 2px rgba(0, 0, 0, 0.774);
    padding-block: 20px;
}
hr{
    color: rgb(19, 190, 190,0.33);
    width: 550px;
    
}
.submit{
    text-align: center;
    margin:  0px 0px 0px 275px;
    border: 1px solid black;
}