header {
padding: 2em;
background-color: gold;
margin-top: 2em;
text-align: center;
color:black;
}
.quote{
    font-size: 2em;
}
.btn-large{
    margin: 0.5em;
}
.card{
    text-align: center;
    width: 50em;
}
.new-quote-button{
    background-color: darkgoldenrod;
    border-color: black;
}
#button:hover{
    background-color: darkorange;
}